<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers>
                <add name="Python FastCGI" 
                     path="*" 
                     verb="*" 
                     modules="FastCgiModule" 
                     scriptProcessor="d:\python36\python.exe|d:\python36\lib\site-packages\wfastcgi.py" 
                     resourceType="Unspecified" 
                     requireAccess="Script"/>
            </handlers>
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="d:\MES" />
            <add key="DJANGO_SETTINGS_MODULE" value="MES.settings" />
        </appSettings>
    </configuration>
<!--ProjectGuid: 07dc8ab7-25c3-47e0-b600-29a736afca63-->