{% load static %} 
<!DOCTYPE html>

 <html class="no-focus">
    <head>
        <meta charset="utf-8">

        <title>HYC | MES 忘记密码</title>
        <meta name="description" content="OneUI - Admin Dashboard Template & UI Framework">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
        <link rel="shortcut icon" href="{% static "img/favicons/hyc.ico" %}">
        <link rel="stylesheet" id="css-main" href="{% static "css/oneui.css" %}">
        <!-- END Stylesheets -->
    </head>
    <body>
        <!-- Reminder Content -->
        <div class="content overflow-hidden">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <!-- Reminder Block -->
                    <div class="block block-themed animated fadeIn">
                        <div class="block-header bg-primary">
                            <ul class="block-options">
                                <li>
                                    <a href="/login/" data-toggle="tooltip" data-placement="left" title="退出"><i class="si si-login"></i></a>
                                </li>
                            </ul>
                            <h3 class="block-title">找回密码</h3>
                        </div>
                        <div class="block-content block-content-full block-content-narrow">
                            <!-- Reminder Title -->
                            <h1 class="h2 font-w600 push-30-t push-5"> HYC | MES </h1>
                            <p>请提供你注册的邮箱，系统将注册信息发送至你的邮箱！</p>
                            <!-- END Reminder Title -->

                            <!-- Reminder Form -->
                            <form class="js-validation-reminder form-horizontal push-30-t push-50" action="/reminder/" method="post">{% csrf_token %}
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-primary floating">
                                            <input class="form-control" type="email" id="reminder-email" name="reminder-email">
                                            <label for="reminder-email">Email：</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-5">
                                        <button class="btn btn-block btn-primary" type="submit"><i class="si si-envelope-open pull-right"></i> 发送邮件</button>
                                    </div>
                                </div>
                            </form>
                            <!-- END Reminder Form -->
                        </div>
                    </div>
                    <!-- END Reminder Block -->
                </div>
            </div>
        </div>
        <!-- END Reminder Content -->

        <!-- Reminder Footer -->
		{% include "pages/footer.html" %}
        <!-- END Reminder Footer -->

        <script src="{% static "js/core/jquery.min.js" %}"></script>
        <script src="{% static "js/core/bootstrap.min.js" %}"></script>
        <script src="{% static "js/core/jquery.slimscroll.min.js" %}"></script>
        <script src="{% static "js/core/jquery.scrollLock.min.js" %}"></script>
        <script src="{% static "js/core/jquery.appear.min.js" %}"></script>
        <script src="{% static "js/core/jquery.countTo.min.js" %}"></script>
        <script src="{% static "js/core/jquery.placeholder.min.js" %}"></script>
        <script src="{% static "js/core/js.cookie.min.js" %}"></script>
        <script src="{% static "js/app.js" %}"></script>

        <!-- Page JS Plugins -->
        <script src="{% static "js/plugins/jquery-validation/jquery.validate.min.js" %}"></script>

        <!-- Page JS Code -->
        <script src="{% static "js/pages/base_pages_reminder.js" %}"></script>
    </body>
</html>