{% extends "base.html" %} 
{% load static %}
{% block sfm %}
<main id="main-container">
	<div class="row" >
                <!-- 头部导航 -->
                  <div class="col-md-12">
                    <nav class="navbar navbar-inverse fixed">
                      <div class="block-content">
                        <ol class="breadcrumb">  
                                {% for path in paths %}
                                    {% if path.0 == '0101' %}
                                      <li calss='active'>{{path.1}}</li>
                                    {% else %}
                                       <li><a href="{{path.2}}">{{path.1}}</a></li>
                                    {% endif %}
                                {% endfor %}                           
                        </ol>
                      </div>
                     </nav>  
                   </div>
								
	                <!-- 生产派工 -->
                    <div class="row">
                        <!-- 派工产品信息-->
                        <div class="col-md-6">
                            <div class="block">
                                <div class="block-content block-content-narrow">
                                    <form class="form-horizontal">
                                        <div class="form-group">                                         
                                            <label  id="triduuid" name="triduuid" style="display:none"></label>
                                            {% for ERP in ERPS %}
                                            <input style="display:none"  type="text" id="ERPoperation" value='{{ERP.0}}'>
                                            {% endfor %}
                                        </div>

                                        <div class="form-group has-error"> 
                                            <label class="col-sm-1" >产线</label>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="dispatchdep" name="dep" size="1" title="" ='产线'>
                                                    {% for Dep in deps %}
                                                          <option value={{Dep.0}} >{{Dep.1}}</option> 
                                                    {%endfor%}                                               
                                                 </select>
                                            </div>
                                            <label class="col-sm-1" >Cell</label>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="dispatchcell" name="cell" size="1" title='Cell'>
                                                    {% for Cell in cells %}
                                                        <option value={{Cell.0}} >{{Cell.1}}</option> 
                                                    {%endfor%}
                                                </select>
                                            </div>
                                            <label class="col-sm-1" >工站</label>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="dispatchoperation" name="operation" size="1" title="" ='工站'>
                                                    {% for Operation in operations %}
                                                        <option value={{Operation.0}} >{{Operation.1}}</option> 
                                                    {%endfor%}  
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group has-warning">
                                            <label class="col-sm-1" >订单</label>
                                            <div class="col-sm-5">
                                                <input class="form-control" type="text" id="dispatchpo" name="po" placeholder="输入订单号PO...">
                                            </div>
                                            <label class="col-sm-1" >项次</label>
                                            <div class="col-sm-5">
                                                <select class="form-control" id="dispatchpoid" name="poid" size="1" title="订单项次">
                                                    {% for POID in poids %}
                                                          <option value={{POID.0}} >{{POID.0}}</option> 
                                                    {%endfor%}   
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group has-info">
                                            <label class="col-sm-1" >料号</label>
                                            <div class="col-sm-5">
                                                <input class="form-control" type="text" id="item" name="item" title='产品料号' placeholder='产品料号'> 
                                            </div>
                                            <label class="col-sm-1" >工单</label>
                                            <div class="col-sm-5">
                                                <select class="form-control" id="dispatchwo" name="wo" size="1" title="工单">
                                                    {% for WO in wos %}
                                                          <option value={{WO.0}} >{{WO.0}}</option> 
                                                    {%endfor%}   
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group has-info">
                                            <label class="col-sm-3" id='startqty'>投料数量</label>
                                            <label class="col-sm-3" id='completeqty'>完工数量</label>
                                            <label class="col-sm-1">状态</label>
                                            <div class="col-sm-5">
                                              <label class="css-input switch switch-info" id='wslabel' title='开：生产中，关：已完工'>
                                                  <input type="checkbox" id='wostates' checked><span></span>ON:Open；OFF:Closed
                                              </label>
                                            </div>
                                        </div>

                                        <div class="form-group" >                                         
                                            <div class=" col-sm-12 text-center input-daterange input-group" data-date-format="yyyymmdd">
                                                <span class="input-group-addon"><i>开工日</i></span>    
                                                <input class="form-control" type="text" id="daterange1" name="daterange1" title='开工日期' >
                                                <span class="input-group-addon"><i>完工日</i></span>
                                                <input class="form-control" type="text" id="daterange2" name="daterange2" title='完工日期' >
                                            </div>
                                        </div>                                        

                                        <div class="form-group has-warning">
                                            <label class="col-sm-1">模式</label>
                                            <div class="col-sm-5">
                                              <label class="css-input switch switch-warning" title='开：自动编码，关：手动输入' >
                                                  <input type="checkbox" id='sntype' checked><span></span>ON:自动；OFF:手动
                                              </label>
                                            </div>
                                            <label class="col-sm-1">派工</label>
                                            <div class="col-sm-5">
                                                <button class="btn btn-sm btn-primary" type="button" id='dispatch'>派发流程单 | 工单用料</button>
                                            </div>
                                        </div>

                                        <div class="form-group has-warning" method="post" action="" onsubmit="return false;">
                                            <label class="col-sm-1">序号</label>
                                            <div class="col-sm-5">
                                                <input class="form-control" type="text" id="dispatchsn" name="sn" placeholder="流程单号..." disabled></input>
                                            </div>
                                            <label class="col-sm-1">批量</label>
                                            <div class="col-sm-5">
                                                <input class="form-control" type="text" id="lotsize" name="lotsize" title="批量大小..." placeholder="批量大小..." disabled>
                                            </div>
                                        </div>

                                        <div class="form-group has-info">
                                            <label class="col-sm-1" >数量</label>
                                            <div class="col-sm-5">                                                
                                                <input class="form-control" type="text" id="dispatchqty" name="dispatchqty" title="产品数..." placeholder="产品数...">
                                            </div>
                                            <label class="col-sm-1" >单数</label>
                                            <div class="col-sm-5">
                                                <input class="form-control" type="text" id="lotqty" name="lotqty" title="流程单数..." placeholder="流程单数...">
                                            </div>
                                        </div>

                                        <label class="col-sm-12" id='dispatchinfo' style='color: #FF0000;'></label>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <!--table class="table table-striped table-hover" id='SNID'-->
                                                <table class="js-table-checkable table table-hover" id='SNID'>
                                                      <thead>
                                                         <th>流程单</th>                                                    
                                                         <th>数量</th>
                                                         <th>Cell</th>
                                                         <th>工站</th>
                                                         <th>时间</th>
                                                         <th class="text-center" style="width: 70px;">
                                                            <label class="css-input css-checkbox css-checkbox-primary remove-margin-t remove-margin-b" title='选中表示本次需要列印的流程单'>
                                                                <input type="checkbox" id="check-all" name="check-all" ><span></span>
                                                            </label>
                                                         </th>
                                                     <thead>
                                                     <tbody></tbody>
                                                </table>       
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3">模版路径</label>
                                            <div class="col-sm-6">
                                                <input type="file" id="TravelCardForm"  name="TravelCardForm"  title="模版文件">
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="btn btn-sm btn-primary" type="submit" id='printsn'>列印流程单</button>
                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- END 派工产品信息 -->

                        <div class="col-md-6">
                          <div class="block">                           
                            <form class="form-horizontal">
                                <div class="block-header" style="background-color:rgb(150,200,200)">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" id='productinfo'><i class="si si-settings"></i></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title">产品信息</h3>
                                </div>
                                <div class="block-content block-content-narrow"  id='productdata'>
                                        <div class="form-group"> 
                                            <label class="col-sm-12" id='CPN'>客户品号</label>   
                                            <label class="col-sm-12 " id='itemdesc'>产品描述</label>
                                            <label class="col-sm-12 " id='itemspec'>产品规格</label>
                                            <label class="col-sm-12" id='MRM'>生产要求</label>
                                            <label class="col-sm-12" id='QRM'>品质要求</label>                          
                                            <label class="col-sm-12" id='CRM'>客户要求</label>
                                            <label class="col-sm-12" id='PRM'>包装要求</label>
                                        </div>
                                </div>
                            </form>
                           </div>
                        </div>

                        <!-- 派工BOM信息-->
                        <div class="col-md-6">                            
                            <div class="block">
                                <div class="block-header" style="background-color:rgb(215,200,15)">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" id='bominfo'><i class="si si-settings"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" id='bomadd' title="增加1行空用料"><i class="si si-plus"></i></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title">工单发料</h3>
                                </div>

                                <div class="block-content block-content-narrow" id='bomdata'>
                                    <form class="form-horizontal">                                  
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <table class="table table-striped table-hover" id='BOM'>
                                                        <thead>                                                           
                                                             <th>品号</th>
                                                             <th>发料</th>
                                                             <th>批次</th>                                                    
                                                             <th>总需求</th>
                                                             <th>总领料</th>
                                                             <th>总发料</th>
                                                             <th>品名</th>                                                        
                                                       </thead>
                                                </table>       
                                            </div>
                                        </div>
                                    </form>                                 
                                </div>
                            </div>
                        </div>
                        <!-- END 派工BOM信息 -->

                        <!-- 派工Routing信息-->
                        <div class="col-md-6">                            
                            <div class="block">
                                <div class="block-header" style="background-color:rgb(175,225,75)">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" id='routinginfo'><i class="si si-settings"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" id='routeadd' title="增加1行空途程"><i class="si si-plus"></i></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title">作业制程</h3>
                                </div>

                                <div class="block-content block-content-narrow" id=routingdata>
                                    <form class="form-horizontal">                                   
                                        <div class="form-group">
                                            <div class="col-sm-102">
                                                <table class="table table-striped table-hover" id='ROUTING'>
                                                       <thead>
                                                             <th>工序</th>
                                                             <th>工站</th>                                                    
                                                             <th>制程编码</th>
                                                             <th>制程名称</th>
                                                             <th>标准工时</th>
                                                             <th>流程说明</th>
                                                       </thead>
                                                </table>       
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- END 派工Routing信息 -->

                        <!-- 派工参数信息-->
                        <div class="col-md-6">                            
                            <div class="block">
                                <div class="block-header" style="background-color:rgb(155,255,155)">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" id='parameterinfo'><i class="si si-settings"></i></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title">制程参数</h3>
                                </div>

                                <div class="block-content block-content-narrow" id='parameterdata'>
                                    <form class="form-horizontal">                                    
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <table class="table table-striped table-hover " id='PARAMETER'>
                                                       <thead>
                                                             <th>参数</th>                                                    
                                                             <th>单位</th>
                                                             <th>上限值</th>
                                                             <th>中心值</th>
                                                             <th>下限值</th>
                                                       </thead>
                                                </table>       
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- END 派工Routing信息 -->
                        
                        <!-- print-->
                        <div class='col-md-10 block-content block-content-narrow' align='left' >                          
                            <div class="block">
                                 <div class="block-header" style="background-color:rgb(105,255,105)">      
                                 </div>
                                 <div class="block-content block-content-narrow" id='TCARD'>     
                                 </div>
                            </div>
                        </div>

                    </div>
                    <!-- END 生产派工 -->
	</div>
</main>

{% endblock %}