<!DOCTYPE html>
<html> 
    <body style='height: 1131px;width:800px;'>
                <h3 align='center'> HYC | MES 亿 源 通 光 电 科 技 有 限 公 司 </h3>
                <h5 align='center'> PLC 生 产 流 程 单 </h5>  
                <hr>             
                <TABLE align='center' style='height: 150px;width:800px;'>
                    <tr style='height: 50px;'><td>单号</td><td>数量</td><td>日期</td><td>派发人</td></tr>
                    <tr style='height: 50px;'><td>产线</td><td>Cell</td><td>订单</td><td>项次</td></tr>
                    <tr style='height: 50px;'><td>工站</td><td>工单</td><td>料号</td><td>品名</td></tr>
                </TABLE>
                <hr> 
                <TABLE align='center' border='3'  style='height: 880px;width:800px;border-collapse: collapse;'>
                    <THEAD style='height: 40px;'><TR><TH style='width: 20px;'>工站</TH><TH style='width: 40px;'>制程</TH><TH style='width: 80px;'>日期时间</TH><TH style='width: 40px;'>人员</TH><TH style='width: 80px;'>投入-产出</TH><TH style='width: 200px;'>参数记录</TH></TR></THEAD>
                    <TBODY>
                    <TR><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD></TR>
                    <TR><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD></TR>
                    <TR><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD></TR>
                    <TR><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD></TR>
                    <TR><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD></TR>
                    <TR><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD></TR>
                    <TR><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD></TR>
                    <TR><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD></TR>
                    <TR><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD><TD></TD></TR>
                    </TBODY>
                </TABLE>
                <footer text-align='right'>HYC-QR-IE-001 A/0</footer>
     </body>                    
</html>